<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="test">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    < class="">
      <aside class="sidebar">
        <div class="sidebar__logo">
          <img src="images/logo.svg" alt="mainlogo">
        </div>
        <ul class="sidebar__lists">
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/timeline.svg" alt="timeline">
              <p class="sidebar__list-text">Итоги</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/orders.svg" alt="orders">
              <p class="sidebar__list-text">Заказы</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/mail.svg" alt="mail">
              <p class="sidebar__list-text">Сообщение</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/calls.svg" alt="calls">
              <p class="sidebar__list-text">Звонки</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element sidebar__list-element--active" href="#">
              <img class="sidebar__list-img sidebar__list-img--active" src="images/people.svg" alt="people">
              <p class="sidebar__list-text sidebar__list-text--active">Контрагенты</p>
              <div class="sidebar__circle--active"></div>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/doc.svg" alt="Document">
              <p class="sidebar__list-text">Документы</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/man.svg" alt="man">
              <p class="sidebar__list-text">Исполнители</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/report.svg" alt="report">
              <p class="sidebar__list-text ">Отчеты</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/lib.svg" alt="library">
              <p class="sidebar__list-text">База знаний</p>
            </a>
          </li>
          <li class="sidebar__list">
            <a class="sidebar__list-element" href="#">
              <img class="sidebar__list-img" src="images/option.svg" alt="options">
              <p class="sidebar__list-text">Настройки</p>
            </a>
          </li>
        </ul>
        <div class="sidebar__buttons">
          <button class="sidebar__button">
            <p class="sidebar__button-text">Добавить заказ</p>
            <img class="sidebar__button-img" src="images/plus.svg" alt="plus">
          </button>
          <button class="sidebar__button">
            <p class="sidebar__button-text">Оплата</p>
            <img class="sidebar__button-img" src="images/alert.svg" alt="alert">
          </button>
        </div>
      </aside>
    </>
    <main class="main-container">
      <div class="main-container__fit">
        <div class="main-container__fit-dat">
          <p class="main-container__fit-dat-text">Среда, 13 окт</p>
        </div>
        <div class="main-container__fit-stat">
          <div class="main-container__fit-stat-element">
            <p class="main-container__fit-stat-text ">Новые звонки <span class="main-container__fit-stat-text-green">20 из 30 шт</span></p>
            <div class="main-container__fit-stat-line">
              <div class="main-container__fit-stat-line-in main-container__fit-stat-line-green"></div>
            </div>
          </div>
          <div class="main-container__fit-stat-element">
            <p class="main-container__fit-stat-text ">Качество разговоров <span class="main-container__fit-statistics-text-yellow">40%</span></p>
            <div class="main-container__fit-stat-line">
              <div class="main-container__fit-stat-line-in main-container__fit-stat-line-yellow"></div>
            </div>
          </div>
          <div class="main-container__fit-stat-element">
            <p class="main-container__fit-stat-text ">Конверсия в заказ <span class="main-container__fit-statistics-text-red">67%</span></p>
            <div class="main-container__fit-stat-line">
              <div class="main-container__fit-stat-line-in main-container__fit-statistics-line-red"></div>
            </div>
          </div>
        </div>
        <div class="main-container__fit__search">
          <img class="main-container__fit__search__image" src="images/search.svg" alt="search">
        </div>
        <div class="main-container__fit__file__name">
          <p class="main-container__fit__file__name__text">ИП Сидорова Александра Михайловна</p>
          <img class="main-container__fit__file_arrow" src="images/arrow.svg" alt="arrow">
        </div>
        <div class="main-container__fit__file__2">
          <div class="main-container__fit__file__2__aboba"></div>
          <img class="main-container__fit__profile_arrow" src="images/arrow.svg" alt="arrow">
        </div>
      </div>
      <div class="main-container__calls">
        <div class="main-container__balance">
          <div class="main-container__balance__balance">
            <p class="main-container__balance__balance__text">Баланс: <span class="main-container__balance__balance__money">272 ₽</span></p>
            <img class="main-container__balance__balance__img" src="images/adding.svg" alt="balance-plus">
          </div>
          <div class="main-container__balance__datepicker">
            <img class="main-container__balance__datepicker__arrow-left" src="images/arrow-left.svg" alt="arrow-left">
            <div class="main-container__balance__datepicker__container">
              <img class="main-container__balance__datepicker__calendar" src="images/calendar.svg" alt="calendar">
              <p class="main-container__balance__datepicker__text">3 дня</p>
            </div>
            <img class="main-container__balance__datepicker__arrow-right" src="images/arrow-right.svg" alt="arrow-right">
          </div>
        </div>
        <div class="main-container__calls__panel">
          <div class="main-container__calls__search">
            <img class="main-container__calls__search__image" src="images/search.svg" alt="search">
            <input type="text" placeholder="Поиск по звонкам" class="main-container__calls__search__text"></input>
          </div>
          <div class="main-container__calls__filters">
            <div class="main-container__calls__filters__element">
              <p class="main-container__calls__filters__element__text">Все типы</p>
              <img class="main-container__calls__filters__element__arrow" src="images/arrow.svg" alt="arrow-down">
            </div>
            <div class="main-container__calls__filters__element">
              <p class="main-container__calls__filters__element__text">Все сотрудники</p>
              <img class="main-container__calls__filters__element__arrow" src="images/arrow.svg" alt="arrow-down">
            </div>
            <div class="main-container__calls__filters__element">
              <p class="main-container__calls__filters__element__text">Все звонки</p>
              <img class="main-container__calls__filters__element__arrow" src="images/arrow.svg" alt="arrow-down">
            </div>
            <div class="main-container__calls__filters__element">
              <p class="main-container__calls__filters__element__text">Все источники</p>
              <img class="main-container__calls__filters__element__arrow" src="images/arrow.svg" alt="arrow-down">
            </div>
            <div class="main-container__calls__filters__element">
              <p class="main-container__calls__filters__element__text">Все оценки</p>
              <img class="main-container__calls__filters__element__arrow" src="images/arrow.svg" alt="arrow-down">
            </div>
            <div class="main-container__calls__filters__element">
              <p class="main-container__calls__filters__element__text">Все ошибки</p>
              <img class="main-container__calls__filters__element__arrow" src="images/arrow.svg" alt="arrow-down">
            </div>
          </div>
        </div>
        <div class="main-container__list">
          

          <div class="main-container__thead">
            <div class="main-container__column">
              <div class="main-container__content">
                <p class="main-container__text main-container__type">Тип</p>
                <div class="main-container__content-in">
                  <img src="images/down-arrow-blue.svg" alt="down-arrow-blue">
                  
                </div>
                <div class="main-container__content-in">
                  <img src="images/green-arrow-up.svg" alt="green-arrow-up">
                </div>
                <div class="main-container__content-in">
                  <img src="images/red-arrow-down.svg" alt="red-arrow-down">
                </div>
                <div class="main-container__content-in">
                  <img src="images/red-arrow-up.svg" alt="rred-arrow-up">
                </div>
                <div class="main-container__content-in">
                  <img src="images/red-arrow-up.svg" alt="rred-arrow-up">
                </div>
              </div>
            </div>
            <div class="main-container__column">
              <div class="main-container__content">
                <p class="main-container__text main-container__time">Время</p>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">19:00</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">19:00</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">19:00</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">19:00</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">19:00</p>
                </div>
              </div>
            </div>
            <div class="main-container__column">
              <div class="main-container__content">
                <p class="main-container__text main-container__worker">Сотрудник</p>
                <div class="main-container__content-in">
                  <div class="main-container__content-avatar"></div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-avatar"></div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-avatar"></div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-avatar"></div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-avatar"></div>
                </div>
              </div>
            </div>
            <div class="main-container__column">
              <div class="main-container__content">
                <p class="main-container__text main-container__call">Звонок</p>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">+7 (987) 567-17-12</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">Константиний Константинопольский</p>
                  <p class="main-container__content-number main-container__content-number--addition">ООО «Фестивальный эффект»</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">+7 (987) 567-17-12</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">+7 (987) 567-17-12</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">+7 (987) 567-17-12</p>
                </div>
              </div>
            </div>
            <div class="main-container__column">
              <div class="main-container__content">
                <p class="main-container__text main-container__source">Источник</p>
                <div class="main-container__content-in">
                  <p class="main-container__content-source">Rabota.ru</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-source">Google</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-source">Yandex</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-source">Санкт-Петербург</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-source">Санкт-Петербург</p>
                </div>
              </div>
            </div>
            <div class="main-container__column">
              <div class="main-container__content">
                <p class="main-container__text main-container__like">Оценка</p>
                <div class="main-container__content-in">
                  <div class="main-container__content-like">
                    <div class="main-container__circle-container">
                      <div class="main-container__circle green-circle"></div>
                      <div class="main-container__circle green-circle"></div>
                      <div class="main-container__circle green-circle"></div>
                    </div>
                    <div class="main-container__great">
                      <p>Отлично</p>
                    </div>
                  </div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-like">
                    <div class="main-container__recognize">
                      <p>Распознать</p>
                    </div>
                  </div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-like">
                    <div class="main-container__notuser">
                      <p>Скрипт не использован</p>
                    </div>
                  </div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-like">
                    <div class="main-container__circle-container">
                      <div class="main-container__circle gray-circle"></div>
                      <div class="main-container__circle gray-circle"></div>
                    </div>
                    <div class="main-container__good">
                      <p>Хорошо</p>
                    </div>
                  </div>
                </div>
                <div class="main-container__content-in">
                  <div class="main-container__content-like">
                    <div class="main-container__circle-container">
                      <div class="main-container__circle red-circle"></div>
                    </div>
                    <div class="main-container__bad">
                      <p>Плохо</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-container__column">
              <div class="main-container__content">
                <p class="main-container__text main-container__during">Длительность</p>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">12:06</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">12:06</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">12:06</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">12:06</p>
                </div>
                <div class="main-container__content-in">
                  <p class="main-container__content-number">12:06</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>